@page
@model TorneoFutbolDepartamental.App.Frontend.Pages.Partidos.AddArbitroModel
@{
}
<h1>Asignar Arbitro</h1>
<form method="post">
    <div class="form-group">
        <label for="Partidoid">Partido</label>
        <input type="text" Partidoid="Partidoid" name="Partidoid" class="form-control" value="@Model.partido.PartidoId" readonly>
    </div>
    <div class="form-group">
        <label for="Arbitroid">Arbitro</label>
        <select Arbitroid="Arbitroid" name="Arbitroid" class="form-control">
            @foreach (var arbitro in Model.arbitros)
            {
                <option value="@arbitro.ArbitroId">@arbitro.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Asignar Arbitro</button>
</form>
<a class="btn btn-primary" asp-page="./Index">Volver</a>