@page
@model TorneoFutbolDepartamental.App.Frontend.Pages.Partidos.AddEstadioModel
@{
}
<h1>Asignar Estadio</h1>
<form method="post">
    <div class="form-group">
        <label for="Partidoid">Partido</label>
        <input type="text" Partidoid="Partidoid" name="Partidoid" class="form-control" value="@Model.partido.PartidoId" readonly>
    </div>
    <div class="form-group">
        <label for="Estadioid">Estadio</label>
        <select Estadioid="Estadioid" name="Estadioid" class="form-control">
            @foreach (var estadio in Model.estadios)
            {
                <option value="@estadio.EstadioId">@estadio.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Asignar Estadio</button>
</form>
<a class="btn btn-primary" asp-page="./Index">Volver</a>