@page
@using TorneoFutbolDepartamental.App.Dominio
@model TorneoFutbolDepartamental.App.Frontend.Pages.Estadios.editModel
@{
}
<h1>Editar Estadio</h1>
<form method="post">
     <input type="hidden" asp-for="estadio.EstadioId"/>
    <div class="form-group">
        <label asp-for="estadio.Nombre"></label>
        <input asp-for="estadio.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="estadio.Nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="estadio.Direccion"></label>
        <input asp-for="estadio.Direccion" class="form-control">
        <span class="text-danger" asp-validation-for="estadio.Direccion"></span>
    </div>
    <div class="form-group">
        <label asp-for="estadio.Municipio"></label>
        <input asp-for="estadio.Municipio" class="form-control">
        <span class="text-danger" asp-validation-for="estadio.Municipio"></span>
    </div>
    <button type="submit" class="btn btn-primary">Grabar</button>
</form>

<a class="btn btn-secondary" asp-page="./Index">Volver</a>