@page
@model TorneoFutbolDepartamental.App.Frontend.pages.DirectoresTecnicos.IndexModel
@{
}
<h1>Listado de DirectoresTecnicos</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Equipo</th>
        </tr>   
    </thead>
    <tbody>
        @foreach (var directorTecnico in Model.directoresTecnicos)
        {
            <tr>
                <td>@directorTecnico.Nombre</td>
                <td>@directorTecnico.Documento</td>
                <td>@directorTecnico.Telefono</td>
                <td>@directorTecnico.Equipo</td>
            </tr>
        }
    </tbody>
</table>